.App {
  text-align: center;
}

.butt {
  background-color: teal;
  height: 50px;
  width: 80px;
  margin-right: 30px;
  border-radius: 8px;
  color: white;
  font-size: medium;
}

.container {
  width: 30%;
  height: 160px;
  margin: auto;
  border: 1px solid black;
  text-align: center;
  padding: 30px;
}

.butt:hover {
  cursor: pointer;
}

.counter {
  color: green;
}

.counter1 {
  color: blue;
}
